body {
    margin: 15px;
    padding: 0;
    background-color: lightblue;
}

h1 { 
    display: inline;
}

.parrafo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px 30px;
    background-color: black;
    color: white;
    padding: 20px;
    border: 5px solid red;
    border-radius: 10px;
    /*border-right: 5px solid green;*/
}

.container{
    width: 80%;
    height: 100px;
    background-color: blue;
    margin: 20px auto;
}

.container p {
    color: white;
    padding: 5px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
}